- page_title 'Mailing Topics'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Overview
        %h1.header-title
          = fa_solid 'archive'
          Mailing Topics

