- page_title 'New', 'Mailing Topic'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Mailing Topic
        %h1.header-title
          = fa_solid 'clipboard-list'
          Create a new Mailing Topic