%table.table
  - activity.order(:created_at).each do |r|
    - color = activity_color(r.activity_type)
    - message = activity_message(r.activity_type)

    %tr{class: "table-#{color}"}
      %td
        %h6.text-uppercase.mt-1.mb-1
          = fa_solid activity_icon(r.activity_type)
          = message
        %p.font-size-12
          - if r.activity_type == 'received'
            Hermes received the message and saved it for processing.
          - elsif r.activity_type == 'rerouted'
            Because of the environment, Hermes modified the message and rerouted it to the Client Owner.
          - elsif r.activity_type == 'processed'
            Hermes finished processing and sent it along for delivery.
        %small.text-muted{title: r.notification_timestamp}
          #{time_ago_in_words r.notification_timestamp} ago
