- page_title 'New', 'Template'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Template
        %h1.header-title
          = fa_solid 'clipboard-list'
          = @template.name