.card.p-15
  .row.align-items-center
    .col
      %strong Owner
    .col-auto
      .text-muted= @client.owner
  %hr
  .row.align-items-center
    .col
      %strong Reroute Email
    .col-auto
      .text-muted= mail_to @client.reroute_email
  - if @client.reply_to_email
    %hr
      .row.align-items-center
        .col
          %strong Default Reply Email
        .col-auto
          .text-muted= @client.reply_to_email
  %hr
  .row.align-items-center
    .col
      %strong API Access
    .col-auto
      - if @client.is_active
        %span.badge.badge-success.text-uppercase approved
      - else
        %span.badge.badge-danger.text-uppercase blocked