.card
  .row
    .col
      %h2.card-title
        %i.fas.fa-object-group
        Templates
    .col-auto
      %a.btn.btn-sm{href: new_client_template_path(@client)}
        New
  - if @client.templates.any?
    .table-responsive
      %table.table.card-table.table-sm
        %thead
          %tr
            %th Name
            %th{style: 'width: 40%'} Status
        %tbody
          - @client.templates.order(:name).each do |t|
            %tr
              %td= link_to t.name, client_template_path(@client, t)
              %td
                - if t.active
                  %span.badge.badge-success.badge-pill.text-uppercase active
                - else
                  %span.badge.badge-secondary.badge-pill.text-uppercase inactive
  - else
    .text-center
      %h3.content-title No Templates
      %p.text-muted This client does not have any email templates saved.