.card
  .card-header
    .row.align-items-center
      .col
        %h3.card-header-title
          %i.fas.fa-clipboard-list.fa-lg
          Mailing Topics
      .col-auto
        %a.btn.btn-sm.btn-white{href: new_client_topic_path(@client)}
          New
  - if @client.topics.any?
    .table-responsive
      %table.table.card-table.table-sm
        %thead
          %tr
            %th Name
            %th{style: 'width: 40%'}Status
        %tbody
          - @client.topics.order(:name).each do |t|
            %tr
              %td= link_to t.name, edit_client_topic_path(@client, t)
              %td
                - if t.active
                  %span.badge.badge-soft-success.text-uppercase active
                - else
                  %span.badge.badge-soft-info.text-uppercase inactive
  - else
    .card-body.text-center.bg-transparent
      %h3 No Topics
      %p.text-muted This client does not have any topics saved.