.card.p-0
  .px-card.py-10.bg-very-dark-dm
    .row
      .col
        %h2.card-title.font-size-18.m-0
          %i.fas.fa-file-import
          Uploads
      .col-auto
        %a.btn.btn-sm{href: new_client_upload_path(@client)}
          New
  - if @client.uploads.any?
    .table-responsive
      %table.table
        %thead
          %tr
            %th Type
            %th Date
            %th{style: 'width: 40%'} Status
        %tbody
          - @client.uploads.order(created_at: :desc).each do |t|
            %tr
              %td= ClientUpload.human_enum_name :file_types, t.file_type
              %td= l t.created_at
              %td
                %span.badge.text-uppercase= t.status
  - else
    .text-center
      %h3.content-title.mt-10 No Uploads
      %p.text-muted This client does not have any files uploaded yet.