- page_title @client.name, 'Client'

= render partial: 'header', locals: { action: :subscribers }

.row
  .col-12.col-md-4
    = render partial: 'overview'

  .col-12.col-md-8
    .card
      .card-header
        .row
          .col
            %h3.card-title
              %i.fad.fa-users
              Subscribers
          .col-auto
            %a.btn.btn-sm{href: new_client_subscriber_path(@client)}
              New
      - if @client.subscribers.any?
        .table-responsive
          %table.table.card-table.table-sm
            %thead
              %tr
                %th Name
                %th Email
            %tbody
              - @client.subscribers.each do |s|
                %tr
                  %td= link_to s.name, client_subscriber_path(@client, s)
                  %td= s.address

      - else
        .text-center
          %h3.content-title No Subscribers
          %p.text-muted This client does not have anyone subscribed.

