.content
  %h1.content-title.font-size-22
    %i.fas.fa-analytics
    Dashboard

  .my-20
    .card.w-350.mw-full.m-0.p-0.d-flex
      .w-60.h-60.m-10.align-self-center
        .m-20.w-60.h-60.rounded.d-flex.align-items-center.justify-content-center
          .font-size-22= Message.count
      .flex-grow-1.d-flex.align-items-center
        .p-10.w-full.m-auto
          %p.m-0.font-weight-medium Total Messages