default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 7500
  host: myth-psql
  port: 5432
  username: postgres
  password: postgres

development:
  <<: *default
  database: hermes_dev

test:
  <<: *default
  database: hermes_test

review:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
  prepared_statements: false
  advisory_locks: false
  connect_timeout: 5
  checkout_timeout: 5
  variables:
    statement_timeout: 30000 # 30 seconds
