/**
 * Dashkit v1.4.2
 *
 * Custom variables followed by Dashkit variables followed by Bootstrap variables
 * to ensure cascade of styles.
 */

// Bootstrap functions
@import "bootstrap/scss/functions";

// Dashkit variables
@import "dashkit/dark/variables-dark";
$pre-color: $text-muted;

@import "dashkit/variables";

// Bootstrap core
@import "bootstrap/scss/bootstrap";

// Dashkit core
@import "dashkit/dashkit";
@import "dashkit/dark/overrides-dark";

// Custom core
@import "select2/src/scss/core.scss";
@import "tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4.scss";

.bootstrap-datetimepicker-widget {
  &.dropdown-menu {
    width: unset;
  }
}

.sidebar-icon {
  min-width: $navbar-icon-min-width;
  padding-bottom: 0.125em;
  line-height: ($font-size-base * $line-height-base);
  margin-left: -5px;
  margin-right: 5px;
}

.btn-teal {
  @include button-variant(teal, teal);
}

.link-teal {
  color: teal;
}

.link-teal:hover {
  color: #003434;
}

.padded-body {
  padding-top: 5rem;
}

.alert:empty {
  display: none;
}

.thead-gray {
  color: $table-dark-color;
  background-color: $gray-700;
  border-color: $table-dark-border-color;
}

[data-clickable-row] {
  cursor: pointer;
}

.action-column {
  width: 10%;
}

.table-border-fix {
  margin-bottom: 0;
  border-bottom-style: none;
}

@include media-breakpoint-only(xs) {
  .row > .card {
    margin-bottom: 1em;
  }
}

.btn-group.justified {
  display: flex;
}

.justified .btn {
  flex: 1;
}

#pageLoading {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 99999;
}
#pageLoadingContent {
  display: table;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#pageLoadingSpinner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  font-size: larger;
  padding-top: 80px;
}

.img-pointer {
  cursor: pointer;
}

.img-system-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

[data-clickable-row] {
  cursor: pointer;
}

.action-column {
  width: 10%;
}

.table-border-fix {
  margin-bottom: 0;
  border-bottom-style: none;
}

.form-group > label {
  font-weight: bold;
}

.btn-group.justified {
  display: flex;
}

.justified .btn {
  flex: 1;
}
