
@import "halfmoon/css/halfmoon-variables";
@import "actiontext";

.padded-body {
  padding-top: 5rem;
}

.action-column {
  width: 10%;
}

.px-card {
  padding-left: var(--content-and-card-spacing-half);
  padding-right: var(--content-and-card-spacing-half);
}