.modal#logout-modal{role: "dialog", tabindex: "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      %a.close{"aria-label" => "Close", href: "#", :role => "button"}
        %span{"aria-hidden" => "true"} &times;
      %h5.modal-title Ready to Leave?
      %p Any unsaved data will be lost.

      .row.mt-20
        .col
          %a.btn.mr-5{"href": "#", role: "button"} Cancel
        .col-auto
          = form_tag destroy_user_session_path, method: :delete, "data-turbo": "false" do
            %button.btn.btn-primary{type: "submit"}
              %i.fas.fa-sign-out-alt
              Yes, logout now
