#logout-modal.modal{role: "dialog", tabindex: "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      %a.close{"aria-label" => "Close", href: "#", :role => "button"}
        %span{"aria-hidden" => "true"} &times;
      %h5.modal-title Ready to Leave?
      %p Any unsaved data will be lost.
      .text-right.mt-20
        / text-right = text-align: right, mt-20 = margin-top: 2rem (20px)
        %a.btn.mr-5{"href": "#", role: "button"} Cancel
        = link_to destroy_user_session_path, method:'delete', class: 'btn btn-primary' do
          Yes, logout now

