%nav.navbar
  - if user_signed_in?
    .navbar-content
      %button.btn.btn-action{:type => "button", 'data-controller': 'sidebar', 'data-action': 'click->sidebar#toggle'}
        %i.fa.fa-bars{"aria-hidden" => "true"}
        %span.sr-only Toggle sidebar
  %a.navbar-brand.ml-10.ml-sm-15{href: home_path}
    %span.mr-5.mr-sm-10 Hermes
  - unless Rails.env.production?
    %span.badge.font-size-12.text-monospace.text-secondary.ml-auto= Rails.env
  - if user_signed_in?
    .navbar-content.ml-auto
      .dropdown.with-arrow
        %button#navbar-dropdown-toggle-btn-1.btn{"data-toggle" => "dropdown", :type => "button"}
          Menu
          %i.fas.fa-angle-down{"aria-hidden" => "true"}
        .dropdown-menu.dropdown-menu-right.w-200{"aria-labelledby" => "navbar-dropdown-toggle-btn-1"}
          %a.dropdown-item{:href => "#"} Docs
          %a.dropdown-item{:href => "#"} Products
          .dropdown-divider
          %a.dropdown-item{href: "#logout-modal", role: "button"}
            %i.fal.fa-sign-out
            Logout
