%nav#topbar.navbar.navbar-expand-md.navbar-light.d-none.d-md-flex
  .container-fluid
    %form.form-inline.mr-4.d-none.d-md-flex
      .input-group.input-group-flush.input-group-merge{"data-options" => "{\"valueNames\": [\"name\"]}", "data-toggle" => "lists"}
        %input.form-control.form-control-prepended.dropdown-toggle.search{"aria-label" => "Search", "data-toggle" => "dropdown", :placeholder => "Search", :type => "search"}/
        .input-group-prepend
          .input-group-text
            %i.fe.fe-search
    .navbar-user
      .dropdown
        %a.avatar.avatar-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %span.avatar-title.rounded-circle= current_user.initials
        .dropdown-menu.dropdown-menu-right
          %a.dropdown-item{:href => edit_user_registration_path} Security
          %hr.dropdown-divider
          %a.dropdown-item{"data-target": "#logoutModal", "data-toggle": "modal", href: "#"}
            %i.fe.fe-log-out
            Logout
