%nav.navbar
  - if user_signed_in?
    .navbar-content
      %button.btn.btn-action{:type => "button", 'data-controller': 'sidebar', 'data-action': 'click->sidebar#toggle'}
        %i.fa.fa-bars{"aria-hidden" => "true"}
        %span.sr-only Toggle sidebar
  %a.navbar-brand.mx-auto{href: home_path}
    %img{src: asset_path('logo.png'), alt: "Hermes logo", style: "margin-right: 0.5rem"}
    %span.mr-5.mr-sm-10 Hermes
    - unless Rails.env.production?
      %span.badge.badge-secondary.font-size-12.text-monospace.ml-auto= HermesApp.env_name
