%nav.navbar.navbar-dark.sticky-top.bg-primary.flex-md-nowrap.p-0
  %a.navbar-brand.col-sm-3.col-md-2.mr-0{href: home_path}
    = fa_light 'mail-bulk'
    Hermes
    - if Rails.env.development?
      %strong.text-warning DEV
    - if Rails.env.test?
      %strong.text-danger QA
