.sidebar-overlay{'data-controller': 'sidebar', 'data-action': 'click->sidebar#toggle'}
.sidebar
  .sidebar-menu
    %a.sidebar-link.sidebar-link-with-icon{:href => home_path, class: home_action?('index') ? 'active': ''}
      %span.sidebar-icon
        %i.fal.fa-code{"aria-hidden" => "true"}
      Dashboard
    %a.sidebar-link.sidebar-link-with-icon{:href => sidekiq_web_path, target: '_blank'}
      %span.sidebar-icon
        %i.fal.fa-server{"aria-hidden" => "true"}
      Sidekiq
    .sidebar-divider
    %a.sidebar-link.sidebar-link-with-icon{:href => clients_path, class: clients_controller? ? 'active' : ''}
      %span.sidebar-icon
        %i.fal.fa-users{"aria-hidden" => "true"}
      Clients
    %a.sidebar-link.sidebar-link-with-icon{:href => messages_path, class: messages_controller? ? 'active' : ''}
      %span.sidebar-icon
        %i.fal.fa-stream{"aria-hidden" => "true"}
      Logs
    %a.sidebar-link.sidebar-link-with-icon{:href => subscriptions_path, class: subscriptions_controller? ? 'active' : ''}
      %span.sidebar-icon
        %i.fal.fa-users{"aria-hidden" => "true"}
      Subscriptions
    .sidebar-divider
    %a.sidebar-link.sidebar-link-with-icon{href: "#logout-modal", role: "button"}
      %span.sidebar-icon
        %i.fal.fa-sign-out{"aria-hidden" => "true"}
      Logout