!!!
%html
  %head
    = render partial: 'layouts/partials/header'
  %body.d-flex.align-items-center.bg-auth.border-top.border-top-2.border-primary
    .container
      = render partial: 'layouts/partials/alerts'
      .row
        .col-sm-8.offset-sm-2
          .card
            .card-header
              %h4.card-header-title
                %strong
                  Hermes
                  - if Rails.env.development?
                    DEV
                  - if Rails.env.test?
                    TEST
                |
                = yield :header
            .card-body
              = yield
